<form action="/post">
  <label for="fname">Title:</label><br>
  <input type="text" id="title" name="title" value=""><br>
  <label for="lname">Author:</label><br>
  <input type="text" id="author" name="author" value=""><br><br>
    <label for="lname">Post:</label><br>
  <textarea id="post" name="post" rows="4" cols="50">

</textarea>
  <input type="submit" value="Submit">
  
</form> 

