<h1>Edit Journal Entry</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.journal_entry_path(@conn, :update, @journal_entry)) %>

<span><%= link "Back", to: Routes.journal_entry_path(@conn, :index) %></span>
