<form action="/action_page.php">
  <label for="title">Title:</label><br>
  <input type="text" id="title"><br>
  <label for="author">Author:</label><br>
  <input type="text" id="name"><br><br>
    <label for="entry">Entry:</label><br>
    <textarea id="entry-text"></textarea>
  <input type="submit" value="Submit">
</form> 

