

<div>
      <div id="entry">
        <h3 id="title"> <%= @entry.title %></h3>
        Author: <%= @entry.author %> <br>
        Published: <%= @entry |> EChronicler.Models.JournalEntry.format_datetime() %> 
        <hr id="subtle-hr">
         <%= @entry.entry %>
      </div>
      <hr id="fancy-hr">

</div>