<main>
      <article id="entry">
        <h3 id="title"> <%= @entry.title %></h3>
        Author: <%= @entry.author %> <br>
        Published: <%= @entry |> EChronicler.Models.JournalEntry.format_datetime() %> 
        <hr id="title-body-divider">
         <%= @entry.entry %>
      </article>
      <hr id="dotted-post-divider">
</main>